/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.container .wrapper h2 {
    font-size: 32px;
}

.hljs {
    background: #fff;
}

code {
    box-shadow: none;
}

.blockImage {
    display: flex;
}

.blockImage img {
    align-self: center;
}

.web-player iframe {
    margin-left: 0;
}

.web-player pre {
    display: none;
}

table thead {
    border-bottom: 1px solid #0081ff;
    display: table-header-group;
}

table thead > tr {
    background: #0081ff !important;
}

table thead tr > th {
    color: #fff;
}

nav.toc .toggleNav .navGroup.navGroupActive {
    background: #ffffff !important;
}

.navGroups {
    border: 1px solid #efefef;
}

footer.nav-footer {
    background: #073b6d;
    box-shadow: inset 0px 18px 13px -5px rgba(0, 0, 0, 0.08);
}